<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Shortner!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Old Link</th>
                    <th>New Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ original_url }}</td>
                    <td>{{ url_for('short.redirect_to_url', short_url=new_link, _external=True) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </section>
  </body>
</html>